<h1>Visualizar as integrações</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th><th>Time Created</th><th>Processed</th>
    </tr>

    </thead>
    <tbody>   
    {{#linhas}}
    <tr>
    <td>{{id}}</td>
    <td>
        <a href="view.php?id={{id}}">
        {{#userdate}} {{timecreated}}, {{#str}} strftimerecentfull, core_langconfig {{/str}} {{/userdate}}
        </a>
    </td>
    <td>{{status}}</td>
    </tr>
    {{/linhas}}
    
    </tbody>
</table>

 <nav aria-label="Page" class="pagination pagination-centered justify-content-center" id="">
        <ul class="mt-1 pagination " id="">
            {{#paginas}}
                <li class="page-item" data-page-number="{{.}}">
                    <a href="index.php?pagina={{.}}" class="page-link" aria-current="page">
                        <span aria-hidden="true">{{.}}</span>
                        <span class="sr-only">Page {{.}}</span>
                    </a>
                </li>
            {{/paginas}}
        </ul>
    </nav> 

     <script>
        document.addEventListener("DOMContentLoaded", function () {
            var urlParams = new URLSearchParams(window.location.search);
            var pageNumber = urlParams.get("pagina");

            if (pageNumber !== null) {
                var pageItem = document.querySelector('.page-item[data-page-number="' + pageNumber + '"]');
                if (pageItem !== null) {
                    pageItem.classList.add("active");
                }
            }else{
                document.querySelector('.page-item').classList.add("active");
            }

        });
    </script>